header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.upperHeader i {
  color: #274472;
}

.header i {
  color: white;
}

.header li {
  list-style: none;
}

.upperHeader {
  height: 25vh;
  display: flex;
  flex-direction: row;
  background-color: #274472;
  z-index: 10;
  width: 100%;
}

.header-socials,
.header-search {
  width: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#header-button {
  width: 55%;
  height: 25%;
  border-radius: 1000px;
  outline: none;
  border: none;
}

#header-button:hover {
  cursor: pointer;
  border: 1.5px #3e474c solid;
  opacity: 0.95;
}

.header-middle {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #274472;
}

#rlc-icon {
  padding-top: 20px;
  width: 230px;
  aspect-ratio: auto 250 / 100;
  height: 130px;
}

.header {
  list-style: none;
  margin: 0;
  padding: 0;
  display: table;
  width: 100%;
}

.header > li {
  display: table-cell;
  text-align: center;
  position: relative;
  border-right: 1px solid #274472;
  background: #274472;
  transform-style: preserve-3d;
}

.header > li.home-button {
  width: 60px;
}

.header li > a,
.header li > span {
  font-family: monospace;
  display: block;
  color: white;
  font-size: 1.1em;
  padding: 20px 0px;
  cursor: pointer;
}

.header > li.current-menu-item > a i,
.header > li.current-menu-item > a,
.header > li.current-menu-item > span,
.header li:hover,
.header > li:hover > a,
.header > li:hover > span,
.header li:hover > a,
.header li:hover > span {
  color: #63b2f5;
}

.header li ul li {
  position: relative;
}

.header li ul {
  display: none;
  text-align: left;
  position: absolute;
  font-size: 1.1rem;
  background: #f2f4f9;
}

.header li ul li > a,
.header li ul li > span {
  display: block;
  color: white;
  font-size: 0.9rem;
  padding: 10px 20px;
  border-bottom: 1px solid #274472;
  background-color: #274472;
}

.header li > ul {
  transform: translateZ(-10px);
}

.header li:hover > ul {
  display: block;
  width: 200px;
  opacity: 1;
  animation-name: anime;
  animation-duration: 0.25s;
}

.header li:hover > ul > li > a > span {
  display: block;
  animation-name: Coloranime;
  animation-duration: 1s;
}

@keyframes Coloranime {
  0% {
    color: #274472;
  }
  100% {
    color: white;
  }
}

@keyframes anime {
  from {
    z-index: -1;
    transform: translate(0, -200px);
  }
  to {
    z-index: 0;
    transform: translate(0, 0);
  }
}
