@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 80px;
  /* background-image: radial-gradient(
    87.99% 87.99% at 82.56% 82.09%,
    rgb(32, 210, 250) 0px,
    rgb(11, 134, 248) 100%
  ); */
  background-color: rgb(11, 134, 248);
  /* animation-name: Opacityanime; */
  /* animation-duration: 1s; */
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.left-header {
  width: 10%;
}

.right-header {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.header-search {
  height: 100%;
  display: flex;
  width: auto;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.header-links {
  height: 100%;
  width: 80%;
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  /* justify-content: center; */
}

.header-logo img {
  padding-top: 10px;
  width: 120px;
  aspect-ratio: auto 120 / 68;
  height: 68px;
}

.header i {
  color: white;
}

.header li {
  list-style: none;
}

.header-button {
  outline: none;
  border: none;
  background-color: transparent;
}

.header-button:hover {
  cursor: pointer;
}

.header-middle {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.header {
  list-style: none;
  margin: 0;
  padding: 0;
  display: table;
  width: 100%;
}

.header > li {
  display: table-cell;
  text-align: center;
  position: relative;
  border-right: 1px solid transparent;
  background: transparent;
  /* background-color: #006eff; */
  height: max-content;
  transform-style: preserve-3d;
}

.header > li.home-button {
  width: 60px;
}

.header li > a,
.header li > span {
  font-family: 'Poppins';
  /* display: block; */
  color: white;
  font-size: 1em;
  /* padding: 20px 0px; */
  cursor: pointer;
}

.header > li.current-menu-item > a i,
.header > li.current-menu-item > a,
.header > li.current-menu-item > span,
.header li:hover,
.header > li:hover > a,
.header > li:hover > span,
.header li:hover > a,
.header li:hover > span {
  color: #006eff;
}

.header li ul li {
  position: relative;
}

.header li ul {
  display: none;
  text-align: left;
  position: absolute;
  font-size: 1.1rem;
  background: #f2f4f9;
}

.header li ul li > a,
.header li ul li > span {
  display: block;
  color: white;
  font-size: 0.9rem;
  padding: 10px 20px;
  background-color: rgb(31, 143, 251);
}

.header li > ul {
  transform: translateZ(-10px);
}

.header li:hover > ul {
  display: block;
  width: 200px;
  opacity: 1;
}

.header li:hover > ul > li > a > span {
  display: block;
}



.sticky {
  position: fixed;
  top: 0;
}

.hidden {
  display: none;
}
