@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
  /* background-color: #4174c5; */
}

.main{
  /* display: flex; */
  background-color: rgb(0, 162, 255);
}

.welcome-to-rlc {
    display: flex;
    font-family: Manrope;
    font-size: 48px;
  height: 100vh;
  background: -webkit-radial-gradient(60% bottom,rgb(113, 229, 255),rgb(0, 127, 246),rgb(0, 127, 246));
background: radial-gradient(at 100% bottom,rgb(113, 229, 255),rgb(0, 127, 246));
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1.27;
  letter-spacing: -0.15rem;
}

  ::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #4174c5;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .hidden{
    display: none;
  }