* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body{
  background-color: rgb(6, 155, 255);
}

a {
  color: #4174c5;
  text-decoration: none;
}

a:hover {
  color: #274472;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: #4174c5;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
