.whtwhyhow-area{
    display: flex;
    font-family: 'Poppins';
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
}

.whtwhyhow{
    border-radius: 12px;
    padding: 34px;
    background-color: white;
    width: 85%;
    margin: 10px;
    display: flex;
    /* flex-direction: row; */
}

.whatwhyhow-head{
    font-size: 45px;
    font-weight: 900;
}

.whatwhyhow-info span{
    font-weight: 900;
}